<footer>
  <p>Made by:</p>
  <a href="https://github.com/cjbarr1013/<%= projectName %>" target="_blank">
    <span>cjbarr1013</span>
    <img src="/icons/github.svg" alt="github icon" />
  </a>
</footer>
